.body{
    font-family: 'Montserrat', sans-serif;
    padding: 0 10px;
    background-image: url(../images/currency.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}